{% load static %}
<div class="untree_co-section">
    <div class="container">

        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 mb-4 col-lg-4">
                <div class="product-item">
                    <a href="shop-single.html" class="product-img">

                        <div class="label new top-right">
                            <div class='content'>New</div>
                        </div>

                        
                        <img src="{% static 'images/products/jacket-1-min.jpg' %}" alt="" class="img-fluid">
                    </a>
                    <h3 class="title"><a href="#">Dark Jacket</a></h3>
                    <div class="price">
                        <span>£69.00</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 mb-4 col-lg-4">
                <div class="product-item">
                    <a href="shop-single.html" class="product-img">
                        <div class="label new top-right">
                            <div class='content'>New</div>
                        </div>

                        <div class="label sale top-right second">
                            <div class='content'>Sale</div>
                        </div>
                        <img src="{% static 'images/products/bottoms-1-min.jpg' %}" alt="Image" class="img-fluid">
                    </a>
                    <h3 class="title"><a href="#">Chino Bottoms</a></h3>
                    <div class="price">
                        <del>£99.00</del> &mdash; <span>£69.00</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 mb-4 col-lg-4">
                <div class="product-item">
                    <a href="shop-single.html" class="product-img">
                        <img src="{% static 'images/products/shoe-1-min.jpg' %}" alt="Image" class="img-fluid">
                    </a>
                    <h3 class="title"><a href="#">Brown Shoe</a></h3>
                    <div class="price">
                        <span>£29.00</span>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-6 mb-4 col-lg-4">

                <div class="product-item">
                    <a href="shop-single.html" class="product-img">
                        <img src="{% static 'images/products/sock-1-min.jpg' %}" alt="Image" class="img-fluid">
                    </a>
                    <h3 class="title"><a href="#">The Modern Sock</a></h3>
                    <div class="price">
                        <span>£29.00</span>
                    </div>
                </div>

            </div>
            <div class="col-6 col-sm-6 col-md-6 mb-4 col-lg-4">

                <div class="product-item">
                    <a href="shop-single.html" class="product-img">
                        <div class="label sale top-right">
                            <div class='content'>Sale</div>
                        </div>
                        <img src="{% static 'images/products/sweater-2-min.jpg' %}" alt="Image" class="img-fluid">
                    </a>
                    <h3 class="title"><a href="#">Double Knit Sweater</a></h3>
                    <div class="price">
                        <del>£99.00</del> &mdash; <span>£69.00</span>
                    </div>
                </div>


            </div>
            <div class="col-6 col-sm-6 col-md-6 mb-4 col-lg-4">

                <div class="product-item">
                    <a href="shop-single.html" class="product-img">
                        <div class="label sale top-right">
                            <div class='content'>Sale</div>
                        </div>
                        <img src="{% static 'images/products/watch-1-min.jpg' %}" alt="Image" class="img-fluid">
                    </a>
                    <h3 class="title"><a href="#">The Murray</a></h3>
                    <div class="price">
                        <del>£99.00</del> &mdash; <span>£69.00</span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>