{% load static %}
<div class="container">


    <div class="deal-hero overlay" style="background-image: url({% static 'images/hero-slider-3-min.jpg' %})"> 
        <div class="deal-contents">
            <span class="subtitle">Limited Offers 20% OFF</span>
            <h2 class="title mb-4"><a href="#">Summer Promo</a></h2>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum fuga incidunt laboriosam voluptas iure, delectus dignissimos facilis neque nulla earum.</p>
            <a href="{% url 'shop' %}" class="btn btn-black">Shop Now</a>
        </div>
    </div> <!-- /.deal-hero -->

</div>